<% quizInstance.forEach((value, index) => { %>
  <!-- iは問題番号のカウンターで初期値は0です。 -->
  <!-- 選択肢のボタンが押されるとiのカウントが一つ増え次の問題を表示したいです。 -->
  <% if (index === i) { %>
    <div class="container">
      <h1 id="title">問題<%= index + 1 %></h1>
      <p id="genre">【ジャンル】<%= value.category %></p>
      <p id="difficulty">【難易度】<%= value.difficulty %></p><hr>
      <p id="question">【クイズ】<%= value.question %></p><hr>
    </div>
    <div id="answers">
      <form action="/quiz/nextQuiz" method="get">
        <!-- 正解不正解の選択肢のシャッフルはまだです。 -->
        <input type="submit" id="correct-answer" value="<%= value.correct_answer %>"><br>
        <% value.incorrect_answers.forEach(element => { %>
          <input type="submit" id="incorrect-answers" value="<%= element %>"><br>
        <% }) %>
      </form>
    </div>
  <% } %>
<% }); %>

<script>
  const correctAnswer = document.getElementById('correct-answer');
  const incorrectAnswers = document.getElementById('incorrect-answers');
  let i = 1;

  correctAnswer.addEventListener('click', () => {
    fetchNextQuiz(1);
  });

  const fetchNextQuiz = async () => {
    await fetch('/quiz/nextQuiz', {
      body: i
    });
    i++;
  }
</script>